footer{
    display:flex;
    align-items: center;
    position: absolute;
    left: 0px;
    margin-top:40px;
    background-color: #E7FFBF;
    height:600px;
    width:100%;
    flex-direction: column;
    margin-left: 0px;
}

.bigLogo{
    margin-top: 20px;
}

.gratitude{
    color:black !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bolder;
    text-align: center;
    width:600px;
}

.SM{
    cursor: pointer;
    margin:20px;
}

.property{
    position:absolute;
    right:30px;
    bottom:10px;
    font-size: 10px;
}