
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
    flex-direction: column;
}

#email{
    background-color: antiquewhite;
    font-size:20px;
    margin-top : 10px;
    padding-left: 20px !important;
    padding:5px;
    border-radius: 10px;
    height:30px;
    width:600px;
    outline:none;
    border:none;
    box-shadow: 5px 5px 10px rgba(129, 124, 124, 0.408);
}

.message{
    background-color: antiquewhite;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:rgb(0, 0, 0);
    margin-top: 10px;
    width:600px;
    height:400px;
    padding : 20px;
    resize:none;
    border-radius: 10px;
    text-indent: 30px;
    letter-spacing: 2px;
    outline:none;
    border:none;
    box-shadow: 5px 5px 10px rgba(129, 124, 124, 0.408);
}

.bigLogo{
    justify-self: center !important;
    align-self: center !important;
}
.submit{
    display : flex;
    position: relative;
    left:265px;
    flex-wrap: nowrap;
    font-size: 18px;
    font-weight: bolder;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height : 40px;
    width : fit-content;
    padding-left:20px;
    padding-right:20px;
    color:white;
    border-radius: 10px;
    gap:10px;
    margin-top: 10px;
    transform:scale(1);
    transition :background-color 200ms ease-in;
    transition :transform 200ms ease-in;
}

.submit:hover{
    background-color: rgb(1, 116, 72);
    transform-origin: center;
    transform:scale(1.25);
    transition :background-color 200ms ease-in;
    transition :transform 200ms ease-in;
    cursor:pointer;
    user-select: none;
}
